<!DOCTYPE html>
<html>
    <head>
        <title>Tyler's Website</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Tyler's Site</a></h1>
        </header>

        <article>
            <time>09/01/2024 16:10</time>
            <h2><a href="">My first post</a></h2>
            <p>Here is some filler text. Check it out!</p>
        </article>

        <article>
            <time>published: 09/01/2024 16:20</time>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>